rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Check if the user is authenticated and is the authorized admin email.
    function isAdmin() {
      return request.auth != null && request.auth.token.email == "richard29cal@gmail.com";
    }

    match /wedding_config/{configId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
